body {
    margin: 0;
    padding: 0;
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.planets-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: scaleX(5);
}

.sun {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(248, 244, 163);
    box-shadow: 0 0 60px rgb(253, 203, 163), 0 0 98px rgb(184, 160, 26);
    transform: scaleX(0.2);
}

.planet {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: scaleX(0.2);
}

#first-planet {
    background-color: red;
}

#second-planet {
    background-color: green;
}

#third-planet {
    background-color:blue;
}

.route {
    width: 100%;
    height: 100%;
    animation: rotate 12s infinite linear;
    position: absolute;
}

.planet-container {
    width: 60px;
    height: 60px;
    animation: correct 12s infinite linear;
    position: absolute;
}

#second-planet-container {
    left: 85px;
}

#third-planet-container {
    left: 42.5px;
    top: 100px;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes correct {
    0% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}